[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "data/comments"]
	path = data/comments
	url = https://github.com/nicksherefkin/blog_comments.git
